body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C3BFBC;
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
}

body.color {
  background-color: #0ABFBC;
}

#title {
  color: #404088;
  font-size: 5em;
  margin: 0;
  padding: 2% 0;
}

#title.color {
  color: white;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #88868B;
  border-radius: 16px;
  width: 810px;
  height: 540px;
}

#container.color {
  background-color: black;
}

#screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  padding: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: center;
  height: 6.25%;
}

.cell {
  flex: auto;
  background-color: #9CB464;
  border: 1px dotted #81964A;
  width: 25px;
  aspect-ratio: 1/1;
}

.cell.hovered {
  background-color: #5D6E35;
}

.cell.color {
  background-color: #C3BFBC;
  border: 1px dotted #88868B;
}

#controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0 .5em 0;
  margin: 0;
  gap: 10em;
}

button {
  width: 5em;
  border-radius: 33px;
  font-family: 'VT323', monospace;
  font-size: xx-large;
  font-weight: bold;
  border: 4px solid #832858;
  color: #832858;
}

button:hover {
  border: 4px solid white;
  color: white;
  background-color: #832858;
}

footer {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #404088;
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  padding-top: .25em;
  padding-bottom: .25em;
}