body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C3BFBC;
  margin: 0;
  padding: 0;
}

#title {
  color: #404088;
  font-size: 5em;
  margin: 0;
  padding: 0 0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #88868B;
  border-radius: 16px;
  width: 900px;
  height: 600px;
}

#screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  padding: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: center;
  height: 6.25%;
}

.cell {
  flex: auto;
  background-color: #9CB464;
  border: 1px dotted #81964A;
  aspect-ratio: 1/1;
}

footer {
  text-align: center;
}